@import "tailwindcss";
@theme {

  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;

 
  --color-primary: #EE4B21;
  --color-secondary: #07B4B0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}